@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
$raleway: 'Raleway';

@font-face {
    font-family: Exthing;
    src: url('../fonts/exthing-font/Exthing-1Gox2.ttf');
  }

$rich-black: #040f0fff;
$forest-green: #248232ff;
$pigment-green: #2ba84aff;
$gunmetal: #2d3a3aff;
$baby-powder: #fcfffcff;

.login {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .login__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #dcdcdc;
    padding: 30px;
  }

  .login__textBox {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
  }
  .login__btn {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    border: none;
    color: white;
    background-color: black;
  }
  .login__google {
    background-color: #4285f4;
  }
  .login div {
    margin-top: 7px;
  }