// This stylesheet contains styles for all basic elements and components that can appear in multiple places
// such as headings, buttons, text and containers

// These components use bootstrap as the basis and then these styles override some features to customise the application

// See the specific style sheets for more the rest


// Fonts -----------------------------------------------------------------------------------------------------------------

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
$raleway: 'Raleway';

@font-face {
    font-family: Exthing;
    src: url('../fonts/exthing-font/Exthing-1Gox2.ttf');
  }

//Colours ------------------------------------------------------------------------------------------------------------------

$rich-black: #040f0fff;
$forest-green: #248232ff;
$pigment-green: #2ba84aff;
$gunmetal: #2d3a3aff;
$baby-powder: #fcfffcff;

$rich-black-rgba: rgba(4, 15, 15, 1);
$forest-green-rgba: rgba(36, 130, 50, 1);
$pigment-green-rgba: rgba(43, 168, 74, 1);
$gunmetal-rgba: rgba(45, 58, 58, 1);
$baby-powder-rgba: rgba(252, 255, 252, 1);


$black: #000501ff;
$cambridge-blue: #73ab84ff;
$celadon: #99d19cff;
$tiffany-blue: #79c7c5ff;
$non-photo-blue: #ade1e5ff;

$black-rgba: rgba(0, 5, 1, 1);
$cambridge-blue-rgba: rgba(115, 171, 132, 1);
$celadon-rgba: rgba(153, 209, 156, 1);
$tiffany-blue-rgba: rgba(121, 199, 197, 1);
$non-photo-blue-rgba: rgba(173, 225, 229, 1);


$night: #00120bff;
$dark-slate-gray: #35605aff;
$slate-gray: #6b818cff;
$lavender-web: #d8e4ffff;
$spring-green: #31e981ff;

$night-rgba: rgba(0, 18, 11, 1);
$dark-slate-gray-rgba: rgba(53, 96, 90, 1);
$slate-gray-rgba: rgba(107, 129, 140, 1);
$lavender-web-rgba: rgba(216, 228, 255, 1);
$spring-green-rgba: rgba(49, 233, 129, 1);


$light-blue: #67B7EE;
$blue-purple: #6E78FF;
$light-light-blue: #61F4DE;
$light-light-green: #7EF29D;

// Text -----------------------------------------------------------------------------------------------------------------

h1 {
    color: $baby-powder;
    font-family: $raleway;
}

h1.title {
    font-size: 100px;
    font-family: Exthing;
}

h1.title2 {
    font-size: 70px;
    font-family: Exthing;
}

h2 {
    color: $baby-powder;
    font-family: $raleway;
}

h3 {
    color: $baby-powder;
    font-family: $raleway;
}

h4 {
    color: $baby-powder;
    font-family: $raleway;
}

h5 {
    color: $baby-powder;
    font-family: $raleway;
}

h6 {
    color: $baby-powder;
    font-family: $raleway;
}

p {
    color: $baby-powder;
    font-family: $raleway;
    font-size: 1rem !important;
    margin-bottom: 1rem;
}

a {
    font-family: $raleway;
}

.greenText {
    color: $pigment-green !important;
}

.bold {
  font-weight: bold;
}

.codeLine {
  font-size: 13.5px !important;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace !important;
}

.codeLine__onwards, .codeLine__completed {
  font-size: 13.5px !important;
  opacity: 0.5;
}

.codeChar__current {
  background-color: rgba(252, 255, 252, 0.2);
}

.codeChar__success {
  background-color: green;
}

.codeChar__error {
  background-color: red;
}

// Navigation -----------------------------------------------------------------------------------------------------------------

.navbar {
    width: 100vw !important;
    margin: 0 !important;
    padding: 1rem !important;
    background-color: transparent !important;
    font-family: $raleway;
    z-index: 100;
}

.navbar-nav > p {
    font-size: 0.75rem !important;
}

.navbar-brand {
    color: $forest-green !important;
    
    &:hover {
        color: $baby-powder !important;
    }
}

.navbar-brand img.logo, .logoOffCanvas {
    width: 25%;
    padding-bottom: 0.2rem;
    padding-right: 0.5rem;
}

.navbar-toggler {
    border-color: $forest-green !important;
    color: $pigment-green !important;

    &:hover {
        border-color: $baby-powder !important;
      }
}

.navbar-toggler-icon {
    background-image: url('../img/menu-icon-green.png') !important;
}

.nav-link {
    font-size: 1rem !important;
}

.offcanvas {
    background-color: $gunmetal !important;
    text-align: left !important;
    font-family: $raleway !important;
    width: 300px !important;
}



// Containers -----------------------------------------------------------------------------------------------------------------

.App {
    text-align: center;
}

.App-header {
    /* background-color: #282c34; */
    // align-items: center;
    // justify-content: center;
    // font-size: calc(10px + 2vmin);

    width: 100vw;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.gameFrameContainer{
    width: 100vw;
    height: 100vh;
    word-wrap: normal;
    overflow: auto;
}

.gameFrame{
    padding: 1rem;
    min-width: 1080px;
    height: 90%;
    min-height: 600px;
}

.home .gameFrame {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home div {
    min-height: 10px; //A low enough value that the div sizes automatically to the content within it
}

// Buttons --------------------------------------------------------------------------------------------------

.btn {
    margin-bottom: 1rem;
    background-color: $forest-green !important;
    border-color: $forest-green !important;
    color: $rich-black !important;
    font-family: $raleway;

    &:hover {
        border-color: $baby-powder !important;
        background-color: $pigment-green !important;
    }
}

.btn-instructions {
    display: block;
    margin: auto;
    background-color: $baby-powder !important;
    border-color: $baby-powder !important;
    color: $rich-black !important;
    font-family: $raleway;
}

.closeButton__text {
  color: $baby-powder !important;
  // border-color: $gunmetal !important;
}

.btn-back {
    display: block;
    margin: auto;
    background-color: $gunmetal !important;
    border-color: $gunmetal !important;
    color: $baby-powder !important;
    font-family: $raleway;

    &:hover {
        border-color: $pigment-green !important;
        background-color: $rich-black !important;
    }
}

.quitWarning-btn {
    background-color: red !important;
    border-color: red !important;
    color: $baby-powder !important;
    font-family: $raleway;

    &:hover {
        background-color: $pigment-green !important;
    }
}

.taskDone__btn {
  background-color: grey !important;
  border-color: grey !important;
  color: $baby-powder !important;
}

.locked-btn {
  width: 46.5px !important;
}

.task-reset {
  text-align: center;
}

.reset__small {
  font-size: 13.5px;
  text-align: center !important;
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
  margin-right: 0.5rem !important;
  margin-left: 0.5rem !important;
  color: $baby-powder !important;
  background-color: $gunmetal !important;

  &:hover {
    background-color: red !important;
    color: black !important;
    border-color: red !important;
  }
}

// Cards -----------------------------------------------------------------------------------------------------

.card {
    display: inline-block;
    width: 18rem;
    margin: 1rem;
    background-color: rgba(45, 58, 58, 0.5);
    font-family: $raleway;
    // min-height: 50vh;
    vertical-align: top;
}

.card p {
    color: white;
    font-size: 1rem;
}

.card-options {
    min-height: 275px !important;
    border: 1px dashed $pigment-green !important;
    border-radius: 10px !important; 
}

.card-options__hr {
  margin: auto;
  margin-bottom: 1rem;
  margin-top: 1rem;
  width: 50%;
}

.card-options .card-title {
    color: $pigment-green;
    font-weight: bold;
}

.card-options .card-text {
    margin: 0 !important;
}

.card-options__bigger {
  min-height: 320px !important;
}

.card-options .tinyText {
    font-size: 0.75rem !important;
    font-style: italic !important;
}

.tinyText {
  font-size: 0.75rem !important;
  font-style: italic !important;
}

.completedCard {
  width: 50% !important;
}

.card-options .bigNumber  {
    font-size: 100px !important;
    font-weight: bold;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.card-options .bigText, .card-options .bigSessionKey {
    font-size: 50px !important;
    // color: $forest-green;
}

.card-options .bigSessionKey {
    font-size: 50px !important;
    // color: $forest-green;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.card-options .btn {
    margin-bottom: 0;
    margin-top: 1rem;
}

.card-options .sessionKey__textBox {
    padding: 10px;
    font-size: 1rem;
    margin-top: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.time {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
}

// Auth Forms -----------------------------------------------------------------------------------------------------------------

.login, .register, .reset {
    height: 100vh;
    width: 100vw;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    font-family: $raleway;
}

.login__container, .register__container, .reset__container {
    width: 40vw;
    display: flex;
    margin-top: 0px !important;
    flex-direction: column;
    text-align: center;
    background-color: rgba(36, 130, 50, 0.2); 
    border: 1px dashed $pigment-green;
    border-radius: 10px;
    padding: 2rem;
}

label {
    font-size: 1rem;
    text-align: left;
}

.login__textBox, .register__textBox, .reset__textBox {
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 10px;
}

.login div, .register div, .reset div {
    margin-top: 7px;
}

.login a, .register a, .reset a {
    font-size: 1rem;
    color: $pigment-green;

    &:hover {
        color: $baby-powder;
    }
}

// Profile/Dashboard -----------------------------------------------------------------------------------------------------------------

.dashboard {
    height: 100vh;
    width: 100vw;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    font-family: $raleway;
  }
  .dashboard__container {
    width: 20vw;
    display: flex;
    margin-top: 0px !important;
    flex-direction: column;
    text-align: center;
    background-color: rgba(36, 130, 50, 0.2); 
    border: 1px dashed $pigment-green;
    border-radius: 10px;
    padding: 2rem;
  }

  .dashboard div {
    margin-top: 7px;
  }
  

 // -----------------------------------------------------------------------------------------------------------
 .taskListDashboard {
    display: grid;
    min-height: 100%;
    max-height: 100%;
    width: 100%;
    // grid-template-columns: auto auto auto auto auto auto;
    // grid-template-rows: auto auto auto auto auto auto;
    grid-template-columns: 15% 15% auto auto auto auto;
    grid-template-rows: 200px auto auto auto auto 10%;
  }
  
 .taskListDashboard .grid-item__role {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 100%;
    padding-left: 1rem;
    padding-top: 0;
    max-height: 100%;
    padding-bottom: 0.5rem;
    overflow-y: auto;
    text-align: left;
  }

  .taskListDashboard .grid-item__stats {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 6;
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    max-height: 100%;
    overflow-y: auto;
    text-align: left;
  }

  .taskListDashboard .grid-item__tasks {
    width: 100%;
    grid-column-start: 3;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 7;
    padding-left: 1rem;
    padding-right: 1rem;
    max-height: 100%;
    overflow-y: auto;
    text-align: left;
  }

  .taskListDashboard .grid-item__button {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;
    padding-top: 0.5rem;
    padding-left: 1rem;
    max-height: 100%;
    overflow-y: auto;
    text-align: center;
  }

  .taskListDashboard .grid-item__button .btn{
    margin-bottom: 0;
    margin-right: 1rem;
    display: inline-block !important
  }

  .taskDescription {
    width: 100% !important;
    margin-top: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 1rem !important; 
  }

  .taskDescription .grid-container {
    display: grid;
    min-height: 100%;
    width: 100%;
    grid-template-columns: 150px auto 100px 70px !important;
    column-gap: 2.5%;
  }

  .taskDescription .grid-item__title {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .taskDescription .grid-item__description {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .taskDescription .grid-item__language {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
  }

  .taskDescription .grid-item__button {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: right;
    display: inline-block;
    padding: 0;
  }

  .taskDescription .grid-item__button .btn {
    margin: 0 !important;
  }

  .taskDescription__img {
    visibility: visible;
    width: 10px;
  }

.userRole, .sessionStats, .taskDashboardStats {
    min-height: 100%;
    margin: 0 !important;
    width: 100% !important;
  }

.userRole .card-title, .sessionStats .card-title , .taskDashboardStats .card-title {
  text-decoration: underline;
}

.taskDashboardStats .card-text p {
  font-size: 13.5px !important;
}

.userRole__description {
  margin-bottom: 0.5rem;
}

.sessionDurationStats {
    position: absolute;
    z-index: 200;
    top: 2rem;
    left: 50%;
    transform: translate(-50%);
}

.sessionDurationStats .sessionKey {
    color: $forest-green;
    font-weight: bold;
    margin: 0;
    font-size: 0.75rem !important;
}

.sessionDurationStats .sessionDuration {
    color: $baby-powder;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.taskDashboard {
    display: grid;
    min-height: 100%;
    max-height: 100%;
    width: 100%;
    // grid-template-columns: auto auto auto auto auto auto;
    // grid-template-rows: auto auto auto auto auto auto;
    grid-template-columns: 20% auto auto auto auto 30%;
    grid-template-rows: 16% 19% 19% 19% 19% 10%;
  }
  
 .taskDashboard .grid-item__name {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 100%;
    padding-left: 1rem;
    padding-top: 0;
    // padding-bottom: 0.5rem;
    padding-bottom: 0;
    margin-bottom: 0.5rem;
    max-height: 100%;
    overflow-y: auto;
    text-align: left;
  }

  .taskDashboard .grid-item__info .taskDashboardStats .card-body {
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .taskDashboard .grid-item__description {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 6;
    padding-left: 1rem;
    // padding-top: 0.5rem;
    padding-top: 0;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    // padding-bottom: 0.5rem;
    max-height: 100%;
    overflow-y: auto;
    text-align: left;
  }

  .taskDashboard .grid-item__task {
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 6;
    padding-left: 1rem;
    padding-right: 0.5rem;
    // padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    max-height: 100%;
    overflow-y: auto;
    text-align: left;
  }

  .taskDashboard .grid-item__answers {
    width: 100%;
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 6;
    padding-left: 0.5rem;
    padding-right: 1rem;
    // padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    max-height: 100%;
    overflow-y: auto;
    text-align: left;
  }

  .taskDashboard .grid-item__info {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 7;
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 0.5rem;
    max-height: 100%;
    overflow-y: auto;
    text-align: left;
  }

  .taskDashboard .grid-item__info .card-body {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
  }

  .taskDashboard .grid-item__info .card-text {
    font-size: 0.75rem !important;
    padding: 0 !important;
  }

  .taskDashboard .grid-item__hint .card-body {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
  }

  .taskDashboard .grid-item__hint .card-text {
    font-size: 0.75rem !important;
    color: $forest-green !important;
    padding: 0 !important;
  }

  .taskDashboard .grid-item__button {
    width: 100%;
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 6;
    grid-row-end: 7;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 1rem;
    max-height: 100%;
    overflow-y: auto;
    text-align: right;
    display: inline-block !important;
  }

  .taskDashboard .grid-item__button .btn{
    margin-bottom: 0;
    display: inline-block !important;
    margin-left: 1rem !important;
  }

  .taskDashboard .grid-item__completed {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 7;
    padding: 1rem;
    // max-height: 100%;
    overflow-y: auto;
    text-align: right;
    display: inline-block !important;
  }

  .taskDashboard__title {
    font-size: 25px;
    margin: 0 !important;
    text-decoration: none !important;
  }

  .task, .answers {
    min-height: 100%;
    margin: 0 !important;
    width: 100% !important;
  }

  .task .card-text {
    color: $pigment-green !important;
  }

  .answersForm-container {
    margin-bottom: 1rem !important;
  }

  .answersForm-container > .grid-container {
    display: grid;
    min-height: 100%;
    max-height: 100%;
    width: 100%;
    // grid-template-columns: auto auto auto auto auto auto;
    // grid-template-rows: auto auto auto auto auto auto;
    grid-template-columns: 40% auto;
    margin-bottom: 0.5rem;
  }
  
 .answersForm-container .grid-container .grid-item__text {
    grid-column-start: 1;
    grid-column-end: 2;
    width: 100%;
    // padding-left: 1rem;
    // padding-top: 0;
    // padding-bottom: 0.5rem;
    max-height: 100%;
    overflow-y: auto;
    text-align: left;
    font-size: 13.5px !important;
  }

  .answersForm-container .grid-container .grid-item__input {
    grid-column-start: 2;
    grid-column-end: 3;
    width: 100%;
    // padding-left: 1rem;
    // padding-top: 0;
    // padding-bottom: 0.5rem;
    // max-height: 100%;
    overflow-y: auto;
    text-align: left;
    font-size: 13.5px !important;
  }

  .answersForm-container input {
    background-color: transparent !important;
    border: 1px solid $forest-green !important;
    box-shadow: none;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
    color: $pigment-green !important;
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace !important;

    &:focus {
      border: 1px solid $baby-powder !important;
    }
  }

  .userDashboard {
    display: grid;
    min-height: 80%;
    max-height: 80%;
    width: 100%;
    // grid-template-columns: auto auto auto auto auto auto;
    // grid-template-rows: auto auto auto auto auto auto;
    grid-template-columns: 20% 40% 40%;
    grid-template-rows: 40% 60%;
  }
  
 .userDashboard .grid-item__details {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    width: 100%;
    padding-left: 1rem;
    padding-top: 0;
    // padding-bottom: 0.5rem;
    padding-bottom: 0;
    max-height: 100%;
    overflow-y: auto;
    text-align: left;
  }

  .userDashboard__detailsCard {
    text-align: center !important;
    background-color: rgba(36, 130, 50, 0.2); 
    border: 1px dashed $pigment-green;
    border-radius: 10px;
    max-width: 100% !important;
    min-height: 100% !important;
    margin: 0 !important;
  }

  .userDashboard__SoloCard, .userDashboard__CoopCard {
    background-color: rgba(45, 58, 58, 0.5);
    border-radius: 10px;
    max-width: 100% !important;
    min-height: 100% !important;
    margin: 0 !important;
  }

  .userDashboard__detailsCard .card-title, .userDashboard__SoloCard .card-title{
    text-decoration: none !important;
  }

  .userDashboard__detailsCard .btn {
    margin: 0 !important;
  }
  
  .userDashboard .grid-item__solo {
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    padding-left: 1rem;
    padding-right: 0.5rem;
    padding-top: 0;
    max-height: 100%;
    overflow-y: auto;
    text-align: left;
  }

  .userDashboard .grid-item__coop {
    width: 100%;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    padding-left: 0.5rem !important;
    padding-right: 1rem !important;
    max-height: 100%;
    overflow-y: auto;
    text-align: left;
  }

  .userResults, .userResults__Solo {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 1rem;
  }

  .userResults .grid-container{
    display: grid;
    min-height: 100%;
    width: 100%;
    grid-template-columns: 10% auto auto auto !important;
    grid-template-rows: auto auto !important;
    column-gap: 2.5%;
  }

  .userResults .grid-item__duration{
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    max-height: 100%;
    overflow-y: auto;
    text-align: center;
  }

  .userResults .grid-item__description{
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    max-height: 100%;
    overflow-y: auto;
    text-align: center;
  }

  .userResults .grid-item__roles{
    width: 100%;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    max-height: 100%;
    overflow-y: auto;
    text-align: left;
  }
  
  .userResults .grid-item__language{
    width: 100%;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    max-height: 100%;
    overflow-y: auto;
    text-align: left;
  }

  .userResults .grid-item__people{
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    max-height: 100%;
    overflow-y: auto;
    text-align: center;
  }


// Modals

.modal-body h4 {
  color: $gunmetal !important;
  font-weight: bold;
  font-family: $raleway !important;
  text-align: left;
}

.modal-body h6 {
  color: $gunmetal !important;
  font-weight: bold;
  font-family: $raleway !important;
  text-align: left;
  text-decoration: underline;
}

.modal-body p {
  color: $gunmetal;
  font-family: $raleway !important;
  text-align: left;
}

.modal-body hr {
  color: black !important;
}

.modal-instructions .modal-title {
  color: $forest-green !important;
  font-weight: bold;
  font-family: $raleway !important;
}

.modal-wrongAnswer .modal-title {
  color: red !important;
  font-weight: bold;
  font-family: $raleway !important;
}

.modal-wrongAnswer .greenText {
  color: $forest-green !important;
}

.listP {
  margin-bottom: 0.25rem;
}

.modal-wrongAnswer .bold {
  font-weight: bold;
}


.modal-taskLocked .modal-title {
  color: red !important;
  font-weight: bold;
  font-family: $raleway !important;
}

.modal-quitWarning .modal-title{
  color: red !important;
  font-weight: bold;
  font-family: $raleway !important;
}

.answersForm-container {
  margin-bottom: 1rem;
}