// This stylesheet contains styles for all basic elements and components that can appear in multiple places
// such as headings, buttons, text and containers

// These components use bootstrap as the basis and then these styles override some features to customise the application

// See the specific style sheets for more the rest


// Fonts -----------------------------------------------------------------------------------------------------------------

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
$raleway: 'Raleway';

@font-face {
    font-family: Exthing;
    src: url('../fonts/exthing-font/Exthing-1Gox2.ttf');
  }

//Colours ------------------------------------------------------------------------------------------------------------------

$rich-black: #040f0fff;
$forest-green: #248232ff;
$pigment-green: #2ba84aff;
$gunmetal: #2d3a3aff;
$baby-powder: #fcfffcff;

$rich-black-rgba: rgba(4, 15, 15, 1);
$forest-green-rgba: rgba(36, 130, 50, 1);
$pigment-green-rgba: rgba(43, 168, 74, 1);
$gunmetal-rgba: rgba(45, 58, 58, 1);
$baby-powder-rgba: rgba(252, 255, 252, 1);


$black: #000501ff;
$cambridge-blue: #73ab84ff;
$celadon: #99d19cff;
$tiffany-blue: #79c7c5ff;
$non-photo-blue: #ade1e5ff;

$black-rgba: rgba(0, 5, 1, 1);
$cambridge-blue-rgba: rgba(115, 171, 132, 1);
$celadon-rgba: rgba(153, 209, 156, 1);
$tiffany-blue-rgba: rgba(121, 199, 197, 1);
$non-photo-blue-rgba: rgba(173, 225, 229, 1);


$night: #00120bff;
$dark-slate-gray: #35605aff;
$slate-gray: #6b818cff;
$lavender-web: #d8e4ffff;
$spring-green: #31e981ff;

$night-rgba: rgba(0, 18, 11, 1);
$dark-slate-gray-rgba: rgba(53, 96, 90, 1);
$slate-gray-rgba: rgba(107, 129, 140, 1);
$lavender-web-rgba: rgba(216, 228, 255, 1);
$spring-green-rgba: rgba(49, 233, 129, 1);


$light-blue: #67B7EE;
$blue-purple: #6E78FF;
$light-light-blue: #61F4DE;
$light-light-green: #7EF29D;

// Text -----------------------------------------------------------------------------------------------------------------

h1 {
    color: $baby-powder;
    font-family: $raleway;
}

h1.title {
    font-size: 100px;
    font-family: Exthing;
}

h1.title2 {
    font-size: 70px;
    font-family: Exthing;
}

h2 {
    color: $baby-powder;
    font-family: $raleway;
}

h3 {
    color: $baby-powder;
    font-family: $raleway;
}

h4 {
    color: $baby-powder;
    font-family: $raleway;
}

h5 {
    color: $baby-powder;
    font-family: $raleway;
}

h6 {
    color: $baby-powder;
    font-family: $raleway;
}

p {
    color: $baby-powder;
    font-family: $raleway;
    font-size: 1rem !important;
    margin-bottom: 1rem;
}

a {
    font-family: $raleway;
}

.greenText {
    color: $pigment-green;
}

// Navigation -----------------------------------------------------------------------------------------------------------------

.navbar {
    width: 100vw !important;
    margin: 0 !important;
    padding: 1rem !important;
    background-color: transparent !important;
    font-family: $raleway;
    z-index: 100;
}

.navbar-nav > p {
    font-size: 0.75rem !important;
}

.navbar-brand {
    color: $forest-green !important;
    
    &:hover {
        color: $baby-powder !important;
    }
}

.navbar-brand img.logo, .logoOffCanvas {
    width: 25%;
    padding-bottom: 0.2rem;
    padding-right: 0.5rem;
}

.navbar-toggler {
    border-color: $forest-green !important;
    color: $pigment-green !important;

    &:hover {
        border-color: $baby-powder !important;
      }
}

.navbar-toggler-icon {
    background-image: url('../img/menu-icon-green.png') !important;
}

.nav-link {
    font-size: 1rem !important;
}

.offcanvas {
    background-color: $gunmetal !important;
    text-align: left !important;
    font-family: $raleway !important;
    width: 300px !important;
}



// Containers -----------------------------------------------------------------------------------------------------------------

.App {
    text-align: center;
}

.App-header {
    /* background-color: #282c34; */
    // align-items: center;
    // justify-content: center;
    // font-size: calc(10px + 2vmin);

    width: 100vw;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.gameFrameContainer{
    width: 100vw;
    height: 100vh;
    word-wrap: normal;
    overflow: auto;
}

.gameFrame{
    padding: 1rem;
    min-width: 1080px;
    min-height: 520px;
}

.home {
    display: flex;
    align-items: center;
}

.home div {
    min-height: 10px; //A low enough value that the div sizes automatically to the content within it
}

// Buttons --------------------------------------------------------------------------------------------------

.btn {
    margin-bottom: 1rem;
    background-color: $forest-green !important;
    border-color: $forest-green !important;
    color: $rich-black !important;
    font-family: $raleway;

    &:hover {
        border-color: $baby-powder !important;
        background-color: $pigment-green !important;
    }
}

.btn-instructions {
    background-color: $baby-powder !important;
    border-color: $baby-powder !important;
    color: $rich-black !important;
    font-family: $raleway;
}

// Cards -----------------------------------------------------------------------------------------------------

.card {
    display: inline-block;
    width: 18rem;
    margin: 1rem;
    background-color: rgba(45, 58, 58, 0.5);
    font-family: $raleway;
    // min-height: 50vh;
    vertical-align: top;
}

.instruction-panel {
    position: absolute;
    z-index: 50;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    margin: 1rem;
    background-color: red;
    font-family: $raleway;
}

.card p {
    color: white;
    font-size: 1rem;
    font-style: italic;
}

.card-options {
    border: 1px dashed $pigment-green !important;
    border-radius: 10px !important; 
}

.tinyText {
    font-size: 0.75rem !important;
}

.bigNumber  {
    font-size: 100px !important;
}

.bigSessionKey {
    font-size: 50px !important;
    color: $forest-green;
}

// Auth Forms -----------------------------------------------------------------------------------------------------------------

.login, .register, .reset {
    height: 100vh;
    width: 100vw;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    font-family: $raleway;
}

.login__container, .register__container, .reset__container {
    width: 40vw;
    display: flex;
    margin-top: 0px !important;
    flex-direction: column;
    text-align: center;
    background-color: rgba(36, 130, 50, 0.2); 
    border: 1px dashed $pigment-green;
    border-radius: 10px;
    padding: 2rem;
}

label {
    font-size: 1rem;
    text-align: left;
}

.login__textBox, .register__textBox, .reset__textBox, .sessionKey__textBox {
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 10px;
}

.login div, .register div, .reset div {
    margin-top: 7px;
}

.login a, .register a, .reset a {
    font-size: 1rem;
    color: $pigment-green;

    &:hover {
        color: $baby-powder;
    }
}

// Dashboard -----------------------------------------------------------------------------------------------------------------

.dashboard {
    height: 100vh;
    width: 100vw;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    font-family: $raleway;
  }
  .dashboard__container {
    width: 20vw;
    display: flex;
    margin-top: 0px !important;
    flex-direction: column;
    text-align: center;
    background-color: rgba(36, 130, 50, 0.2); 
    border: 1px dashed $pigment-green;
    border-radius: 10px;
    padding: 2rem;
  }

  .dashboard div {
    margin-top: 7px;
  }