$light-light-blue: #61F4DE;

.navbar {
    margin: 0;
    padding: 1rem;
    background-color: transparent !important;
    // background-color: rgb(97, 244, 222, 0.1 )!important;
}

.navbar-brand {
    color: white !important;
}

.navbar-toggler {
    border-color: white !important;
}